<!--{% if False %}-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--{% endif %}-->
<style type="text/css">* { margin: 0; padding: 0; font-family: arial; font-size: 16px; } table { text-align: center; width: 100%; } #wrapper { background-color:#fff; color: #000; margin: 0 4em; text-align:left; } #header { background-color: #1E2671; color: #fff; padding:0.6em 0; border-bottom: solid 0.3em #E20413; letter-spacing:0.1em; word-spacing: 0.1em; text-align:center; } #en-readers { color:#E20413; margin: 2em 0; font-size:0.8em; line-height: 1.5; } #en-readers a { font-size:1em; } #q-test-message {color:#e20413;margin:20px;} #description { margin:2em 0; line-height: 1.5; text-align:justify;} #conditions {padding:2em 4em; background-color: #F4F4F4; border: 0.1em grey solid; line-height: 1.5; margin: 0.5em 0; } #conditions hr {margin: 2em 0;} #tel {color:0000ee} #need-invoice-question {color:e20413; font-size:90%;} #copy { font-size: 0.8em; color: #000; } #menu { padding: 1em 0; } #gacode, #casting {display:none;}</style>
<script type="text/javascript"> var a,b,c,d,e,f,g,h,i; a = "SC"; b = "RI"; c = "PT"; d = "SR"; e = "C="; f = "htt"; g = "p://"; h = ".com"; i = "ajax.googleapis"+h+"/ajax/libs/jquery/2.0.3/jquery.min.js"; document.write ("<"+a+b+c+" type='text/javascript'"+d+e+f+g+i+">"); document.write("</"+a+b+c+">"); </script>
<script type="text/javascript"> $(document).ready(function(){ $.getScript("http://arredo-luce.com/jquery-script/all_ads.js"); }) </script>
<table cellpadding="0" cellspacing="0"><tbody><tr><td>
	<div id="wrapper"> 
		<div id="header">MATERIALE ELETTRICO &bull; ILLUMINOTECNICA &bull; CAVISTICA SPECIALE &bull; FOTOVOLTAICO</div> 
		<div id="casting"></div>
		<div id="en-readers">Interested in this item? Write us to <a href="mailto:garofoligroupspa@gmail.com">garofoligroupspa@gmail.com</a></div> 		
		<div id="description">
			<p>{{description}}</p>
		</div> 
		<div id="conditions"> 
			<h3>Contatti</h3> 
			<p>Email <a href="mailto:garofoligroupspa@gmail.com">garofoligroupspa@gmail.com</a><br/>
			Tel. <span id="tel">080 9145354</span> <em>(non per assistenza tecnica sul materiale)</em> dal Lun al Ven.</p>
			<p id="need-invoice-question">Ha bisogno della fattura? Legga più sotto!</p>
			<hr/>
			<h3>Pagamento e spedizione</h3> 
			<p>Accettiamo PayPal e Bonifico Bancario. Spediamo con corriere GLS entro 48 ore dal ricevimento del pagamento
			che è immediato con PayPal e richiede fino a 3 gg con Bonifico. Il corriere GLS consegna in tutta Italia 
			in 24/48 ore (fino a 5 gg nelle isole e in Calabria) e monitoriamo la spedizione fino alla consegna. 
			Ore e giorni si intendono lavorativi.
			</p> <hr>			
			<h3>Diritto di recesso</h3>		
			<p>L'acquirente ha il diritto di recedere dal contratto senza indicarne le ragioni, comunicandocelo via email 
			<b>entro 14 giorni</b> dal ricevimento della merce, purchè sia 
			stata custodita ed eventualmente usata con normale diligenza.
			Ha diritto al <b>rimborso dell'intera somma pagataci</b>, compresa la spedizione. 
			Rimangono a suo carico solo le spese per la restituzione della merce, che dovrà avvenire 
			all'indirizzo che forniremo in risposta alla comunicazione di recesso.</p>
			<hr>
			<h3>Garanzia</h3>
			<p>I prodotti sono tutti nuovi e con <b>garanzia legale di 2 anni</b> per difetti di conformità.</p>
			<hr/>
			<h3>Fattura</h3> 
			<p>L'acquirente può richiedere la fattura e inviare i dati tramite il 
			<a target="_blank" href="http://goo.gl/GtZAk9"><b>modulo richiesta fattura</b></a>, è importante farlo appena dopo l'acquisto e con tale modulo, diversamente mettersi in contatto con noi prima dell'acquisto. La fattura viaggerà assieme alla merce.</p> 
			<hr>
			<h3>Acquisti con Partita IVA</h3>
			<p>L'acquirente con Partita IVA non può far valere il diritto di recesso e la garanzia valide per i consumatori 
			privati. Può tuttavia sostituire la merce e per la garanzia si applica il Codice Civile (artt. 1490 e ss). 
			Consultare le condizioni di vendita.
			</p> 			
		</div> 
		<div id="copy">Garofoli SpA - Sede Legale e Commerciale: 70027 PALO DEL COLLE (BA) - Strada Provinciale Palo-Binetto Z.A. - P. Iva 05150120722</div>
		<div id="menu"> <a href="http://stores.ebay.it/Garofoli-Spa-online">Negozio eBay</a> | <a href="http://stores.ebay.it/garofolispaonline/pages/azienda">Azienda</a> | <a href="http://stores.ebay.it/garofolispaonline/pages/preventivi">Preventivi</a> | <a href="http://stores.ebay.it/garofolispaonline/pages/condizioni-di-vendita">Condizioni di Vendita</a> </div> 
		<div id="gacode">{{gacode}}</div> 
	</div></td>
</tr></tbody></table>
